.valo-ul .v-textfield.v-disabled {
	opacity: inherit;
	font-weight: bold;
}

.valo-ul .v-panel {
	border-radius: 5px;
}

.valo-ul .v-panel-caption {
background-color: #4b4b4b;
background-image: none;
color: white;
 font-size: inherit; 
 border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
