/apogeeRequest.xml
/configUrlServices.properties
/configUrlServicesdev*.properties
/configUrlServicestest*.properties
/configUrlServicespreprod*.properties
/configUrlServicesprod*.properties
/repository/gouv/education/apogee/apo-webservices-client/**/apo-webservices-client-*.jar