<?xml version="1.0" encoding="UTF-8"?>
<!--


     ESUP-Portail MONDOSSIERWEB - Copyright (c) 2016 ESUP-Portail consortium


     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.


-->
<configuration scan="true">

	<property name="logsPath" value="${catalina.base}/logs" />

	<property name="defaultPattern" value="%date{HH:mm:ss.SSS} [%thread] %-5level %mdc{username} %logger - %message%n" />

	<property name="debugMode" value="${context.debugMode}" />
	<property name="appUrl" value="${context.app.url}" />
	<property name="smtpHost" value="${context.mail.smtpHost}" />
	<property name="smtpPort" value="${context.mail.smtpPort}" />
	<property name="mailFrom" value="${context.mail.from}" />
	<property name="mailTo" value="${context.mail.to}" />
	<property name="mailStartDisabling" value="${context.mail.startDisabling}" />
	<property name="mailStopDisabling" value="${context.mail.stopDisabling}" />


	<!-- increases performances for jul -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logsPath}/mondossierweb.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logsPath}/mondossierweb-%d.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- deletes older files -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<appender name="securityFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logsPath}/mondossierweb-security.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logsPath}/mondossierweb-security-%d.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- deletes older files -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<!-- Regroupe les mails d'erreur pour éviter le spam -->
	<appender name="mailAppender" class="fr.univlorraine.tools.logback.GroupEventsSMTPAppender">
		<!-- Délai des mails en secondes (1 par défaut) -->
		<mailDelaySeconds>60</mailDelaySeconds>

		<smtpHost>${smtpHost}</smtpHost>
		<smtpPort>${smtpPort}</smtpPort>
		<from>${mailFrom}</from>
		<to>${mailTo}</to>
		<subject>[mondossierweb] Logback Message from ${appUrl}</subject>
		<asynchronousSending>false</asynchronousSending>

		<filter class="fr.univlorraine.tools.logback.TimeFilter">
			<startDisabling>${mailStartDisabling}</startDisabling>
			<stopDisabling>${mailStopDisabling}</stopDisabling>
		</filter>

		<layout class="ch.qos.logback.classic.html.HTMLLayout" />
	</appender>

	<if condition='Boolean.valueOf(property("debugMode"))'>
		<then>
			<!-- in debug mode -->
			<logger name="fr.univlorraine.mondossierweb" level="debug">
				<appender-ref ref="consoleAppender" />
				<appender-ref ref="fileAppender" />
			</logger>
		</then>
		<else>
			<!-- no debug mode -->
			<logger name="fr.univlorraine.mondossierweb" level="error">
				<appender-ref ref="fileAppender" />
				<appender-ref ref="mailAppender" />
				<appender-ref ref="consoleAppender" />
			</logger>
		</else>
	</if>

	<logger name="fr.univlorraine.mondossierweb.security" level="info" additivity="false">
		<appender-ref ref="securityFileAppender" />
	</logger>


	<root level="warn">
		<appender-ref ref="fileAppender" />
	</root>

	<logger name="org.springframework" level="warn" />

	<logger name="com.vaadin" level="error" />

	<!-- Ne mail pas les erreurs push -->
	<logger name="com.vaadin.server.DefaultErrorHandler" level="off" />

	<!-- Ne prend pas en compte les warn sur ServerRpcHandler(Resynchronizing client) -->
	<logger name="com.vaadin.server.communication.PushHandler" level="off" />
	<logger name="com.vaadin.server.communication.PushAtmosphereHandler" level="off" />

	<logger name="org.apache.catalina.core.ContainerBase" level="warn" additivity="false" >
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>

	<!-- Ne mail pas les erreurs atmosphere -->
	<logger name="org.atmosphere" level="off" />

</configuration>
