.valo-menu {
	color: #ff0000;
}

.valo-ul .v-slot-btn-reset {
border-right: 1px solid #c5c5c5;
border-left: 0px solid #c5c5c5;
border-top: 1px solid #c5c5c5;
border-bottom: 1px solid #c5c5c5;
height: 35px !important;
}

.valo-ul .textfield-resetable {
border-radius: 0px; 
border-right: 0px;
border-left: 1px solid #c5c5c5;
border-top: 1px solid #c5c5c5;
border-bottom: 1px solid #c5c5c5;
}

.v-slot-googlepopupview {
	position: absolute;
	/* left:112px; */
	/* top: 54px; */
	 left:137px; 
	 top: 66px;
	z-index: 2;
}

.valo-ul .v-popupview-popup-googlepopupview {
padding: 0px 0px !important;
}

.v-table-body-googletable{
     /*  overflow: hidden !important; */
    overflow-x: hidden;
	overflow-y: hidden;
}

.valo-ul .valo-menu-subtitle {
color: silver;
font-size: inherit;
font-weight: bold;
}

.v-table-row-highlighted {
	color: #ff0000;
}

.valo-ul .v-textfield.v-disabled {
	opacity: inherit;
	font-weight: bold;
}

.valo-ul .button-big-icon {
font-size: xx-large;
}

.valo-ul .button-icon {
font-size: x-large;
}


.valo-ul .v-formlayout.light  > table > tbody > tr > td {
	padding-top: 0;
	height: 37px;
	border-bottom: none;
	padding-bottom: initial;
}

.valo-ul .v-formlayout.light  > table > tbody > [class*="lastrow"] > td {
	padding-top: 0;
	height: 37px;
	border-bottom: none;
	padding-bottom: initial;
}

.valo-ul .small-font-element{
	font-size: small;
}

.valo-ul .v-panel {
	border-radius: 5px;
}

.valo-ul .v-panel-caption {
/*background-color: #4b4b4b;*/
background-color: #6E6E6E;
background-image: none;
color: white;
 font-size: inherit; 
 border-top-right-radius: 5px;
border-top-left-radius: 5px;
}


.valo-ul .v-table-noscrollabletable{
	overflow-x: hidden;
	overflow-y: hidden;
}

.valo-ul .v-table-body-noscrollabletable{
	overflow-x: hidden;
	overflow-y: hidden;
}


.valo-ul .v-table-header-wrap, .valo-ul .v-table-footer-wrap, .valo-ul .v-table-header-drag {
	background : rgb(85,96,164);
	color: white;
	height: 37px;
	font: 400 12px/1.55 "Open Sans", sans-serif;
}

.valo-ul .v-link {
color: inherit;
}


.valo-ul .label-centre {
	text-align: center;
}

.valo-ul .label-align-right{
	text-align: right;
}

.valo-ul .v-image-link{
	cursor: pointer;
}

.valo-ul .scrollableelement{
    overflow-x: auto;
	overflow-y: auto;
}


/*
.valo-ul .v-table-body-scrollabletable{
    overflow-x: auto;
	overflow-y: auto;
}

.valo-ul .v-table-scrollabletable{
    overflow-x: auto;
	overflow-y: auto;
}

.valo-ul .v-slot-scrollabletable{
	overflow-x: auto;
	overflow-y: auto;
}
*/

.v-window {
@include transition(none);
}


.v-scrollablepanel{
overflow-y: auto;
overflow-x: hidden;
}

/* pour bloquer le bug qui ajoute des scrollbar sur les table de un element */
.v-table-body-wrapper.v-table-body > div:nth-child(1) > table > tbody td:last-child > div{
width: auto !important;
}

/* couleur header des tables et footer */
/*.valo-ul .v-table-header-wrap, .valo-ul .v-table-footer-wrap, .valo-ul .headerTable {
	background: rgba(65, 102, 169, 0.65);
	color: white;
	height: 37px;
	font: 400 12px/1.55 "Open Sans", sans-serif;
}*/

.valo-ul .deletefavbutton {
width: 52px;
}

.dropicon .v-icon {
color: red;
}
    
/* .dropicon .v-icon:before {
content: "\f05e";
color: red;
}*/

.valo-ul .v-window-modalitycurtain {
-webkit-animation: none;
-moz-animation: none;
animation: none;
}


.valo-ul .v-window {
-webkit-transition: none;
-moz-transition: none;
transition: none;
}


