.valo-menu {
	color: #ff0000;
}


.v-slot-googlepopupview {
	position: absolute;
	/*left:100px;*/
	top: 41px;
	z-index: 0;
}

.v-table-body-googletable{
      overflow: hidden !important;
}

.valo-ul .valo-menu-subtitle {
color: silver;
font-size: inherit;
font-weight: bold;
}