
.valo-ul .v-horizontallayout-v-layout-multiline {
height: 100%;
}

.valo-ul .v-button-multiline {
height: 100%;
}

.valo-ul .line-separator{
border-top: 1px solid #d5d5d5;
}

.valo-ul .navigation-bar{
background-color: rgb(85,96,164);;
}

.valo-ul .v-button-multiline .v-button-wrap .v-button-caption {
line-height: normal;
white-space: normal;
height: 100%;
}

.valo-ul .v-panel-caption-centertitle-panel {
text-align: center;
}

.valo-ul .label-centre {
	text-align: center;
}

.valo-ul .v-scrollableelement{
overflow-y: auto;
overflow-x: hidden;
}

.valo-ul .v-noscrollableelement{
	overflow-x: hidden;
	overflow-y: hidden;
}


.valo-ul .v-nav-button {
	padding: 0 0px;
	border: none;
	background-image: none;
	background-color : transparent;
	border-radius: 0;
}

.valo-ul .v-nav-button .v-button-wrap {
	background-image: none;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}


.valo-ul .v-popover-button:before {
content: none;

}


.valo-ul .v-popover-button .v-button-wrap {
	background-image: none;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}


.valo-ul .v-nav-button:before {
content: none;

}

.valo-ul .v-popover-blank {
	background-color: white;
	background-image: none;
}

.valo-ul .v-label-navbar {
color: #FFFFFF;
text-align: center;
}


.valo-ul .v-window-header {
 line-height: normal;
}



.valo-ul .v-window-modalitycurtain {
-webkit-animation: none;
-moz-animation: none;
animation: none;
}


.valo-ul .v-window {
-webkit-transition: none;
-moz-transition: none;
transition: none;
}